@media (max-width:500px) {
    .container-div {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-div {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .container-top-div {
        justify-content: space-between;
    }

    .balance-div {
        padding-left: 15px;
        padding-top: 30px;
    }

    .buttons-div {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 14px;
    }
    .buttons-div>a{
        text-decoration: none;
    }

    .recharge-btn,
    .withdraw {
        width: 115px;
        font-size: 15px;
        margin-right: 0px;
    }

    .id,
    .balance {
        font-family: monospace;
        letter-spacing: 1px;
        color: #4E4E4E;
        font-size: 16px;
    }

    .rupaye {
        font-size: 39px;
    }

    .task-reward>a>span,
    .check>a>span {
        padding-left: 5px;
    }

    .container-reward-div {
        justify-content: space-evenly;
        display: flex;
    }

    .container-reward-div>button {
        padding: 13px;
        border: 1px solid crimson;
        font-size: 18px;
        color: #CB3B4C;
        border-radius: 70px;
        margin: 7px;
        width: 170px;
        background-color: transparent;
        text-align: left;
        padding-left: 18px;
    }

    .container-reward-div>button>span {
        padding-left: 5px;
    }

    .lucky-image-div {
        background-image: url(./images/Rectangle\ 56.png);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: centesr;
        border-radius: 20px;
        background-repeat: no-repeat;
        margin-left: 0px;
        width: 98%;
        margin: 2px;
    }

    .lucky-image-div>img {
        width: 80%;
        margin-left: 10px;
    }


    .play-btn {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 200px;
        color: #EC1C24;
        font-size: 20px;
        margin-bottom: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .images>img {
        width: 155px;
        margin: 3px;
        margin-top: 15px;
        padding: 4px;
    }

    .footer {
        width: 83%;
        display: flex;
        flex-direction: row;

    }

    .footer>i {
        /* font-size: 21px; */
    }

    /* For wallet div */
    .wallet-div {
        width: 100%;
        margin-left: 0px;
    }

    .wallet-top-part {
        padding-left: 16px;
        display: flex;
        flex-direction: row;
    }

    .wallet-top-part>a>i {
        font-size: 20px;
    }

    .footer-part {
        margin-top: 85%;
        width: 87%;
        margin-left: 0px;
    }

    .footer-part>i {
        font-size: 24px;
        color: #4E4E4E;
    }

    .footer-part>a>i {
        font-size: 24px;
        color: #4E4E4E;
    }

    footer>a:hover {
        color: #CB3B4C;
    }


    .input-buttons>button {
        padding: 10px;
        width: 84px;
        border-radius: 20px;
        border: none;
        margin: 10px;
        background-color: whitesmoke;
    }

    .input-buttons {
        padding-left: 1px;
    }

    .amount-part {
        padding-left: 10px;
    }

    .amount-part>h2 {
        padding-left: 4px;
        font-family: monospace;
        letter-spacing: 2px;
    }

    .balance-part {
        padding-left: 19px;
    }

    .footer-wallet {
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        justify-content: space-between;
        border-radius: 20px;
        width: 80%;
        margin-left: 10px;
        margin-top: 70%;
    }

    /* CSS FOR BALANCE */
    .balance-main-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .balance-top-part {
        width: 90%;
        margin-left: 0px;
        padding: 18px;
    }

    .balance-buttons {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .balance-buttons>button {
        margin: 9px;
        width: 200px;
    }

    .form-1,
    .form-2 {
        width: 230px;
        gap: 0px;
        padding: 4px;
        margin: 7px;
    }

    .form-1>h2,
    .form-2>h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        color: #CB3B4C;
        padding: 0px;
        margin: 0px;
    }

    .form-1>p,
    .form-2>p {
        font-size: 17px;
        padding: 10px;
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1px;
        padding-right: 10px;
    }

    .details>h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
    }

    .records {
        text-align: center;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        color: #4E4E4E;
        padding-top: 30px;
    }

    .balance-footer {
        width: 82%;
        margin-left: 3px;
    }

    /* Profile*/
    .profile-top-contaner {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        margin: 0px;
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
    }

    .phn,
    .userID {
        padding: 2px;
        margin: 0px;
    }

    .profile-buttons>button {
        padding: 9px;
        border-radius: 30px;
        border: none;
        border: 2px solid #CB3B4C;
        width: 160px;
        font-size: 14px;
        color: #CB3B4C;
        background-color: transparent;
        font-family: "Montserrat", sans-serif;
    }

    .footer {
        margin-bottom: 10px;
        margin: 10px;
    }


    /* For task reward */
    .task-reward-main-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .task-footer {
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        justify-content: space-between;
        border-radius: 20px;
        width: 80%;
        margin-left: 15px;
        margin-top: 50%;
    }

    /* check in */
    .check-in-main-div {
        margin-left: 0%;
        margin-right: 0%;
        background-image: url(./images/Rectangle\ 57.png);
        background-repeat: no-repeat;
        background-size: cover;

    }

    .check-in-top-part {
        padding-top: 40px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }

    .check-in-top-part>a>i {
        font-size: 24px;
    }

    .check-in-top-part>a>span {
        padding-left: 17px;
        font-size: 24px;
    }


    .check-in-top-part>a {
        text-decoration: none;
        color: white;
        font-family: "Montserrat", sans-serif;

    }

    .check-in-div {
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 12px;
        padding: 5px;
        height: 240px;
    }

    .day-1,
    .day-2,
    .day-3,
    .day-4,
    .day-5,
    .day-6,
    .day-7,
    .day-8 {
        margin: 2px;
        text-align: center;
        width: 62px;
        display: flex;
        flex-direction: column;
    }

    .day {
        padding: 2px;
        margin: 0px;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
    }

    .check-in-button {
        background-color: #FFA900;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        width: 120px;
        border-radius: 100px;
        text-align: center;
        padding: 13px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 30%;

    }

    .para {
        text-align: center;
        font-size: 14px;
        padding: 20px;
        padding-top: 5px;
        color: white;
        font-family: "Montserrat", sans-serif;
    }

    .gift-image {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        background-color: white;
        background-color: transparent;
    }

    /* FOR LUCKY-7 */
    .lucky-7-main-container {
        margin-left: 0px;
        padding-right: 0px;
        width: 100%;
        background-image: url(./images/Rectangle\ 57.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 10px;
    }


    .ludo-image {
        width: 100%;
        height: 250px;
    }

    .ludo-image>img {
        width: 100%;
    }

    .lucky-7-top-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .lucky-7-top-part>a {
        text-decoration: none;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 23px;
    }

    .lucky-7-top-part>a>i {
        font-size: 23px;
    }

    .lucky-7-top-part>a>span {
        font-size: 23px;
        padding-left: 20px;
    }

    .lucky-7-middle-part {

        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .middle-left-part,
    .middle-right-part {
        padding-left: 20px;
        font-family: "Montserrat", sans-serif;
        padding-right: 20px;
        color: white;
    }

    .middle-left-part>p,
    .middle-right-part>p {
        font-size: 15px;
        padding-top: 10px;
        margin: 0px;
        letter-spacing: 1px;
    }

    .num {
        padding: 0px;
        margin: 0px;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
    }

    .num-2 {
        padding: 0px;
        margin: 0px;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
        padding-left: 30px;
    }

    .rupay-div {
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        padding-top: 20px;
    }

    .r-bottom-part {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .r-bottom-part>img {
        width: 50%;
        height: 80%;
        object-fit: contain;
    }

    .rupaye-1 {
        background-color: white;
        text-align: center;
        margin: 3px;
        width: 100px;
        border-radius: 15px;
        margin-left: 10px;
        padding: 10px;
    }

    .rupaye-2 {
        background-color: #3AB443;
        margin: 3px;
        width: 100px;
        border-radius: 15px;
        text-align: center;
        padding: 10px;
    }

    .rupaye-3 {
        background-color: white;
        text-align: center;
        margin: 3px;
        width: 100px;
        border-radius: 15px;
        margin-right: 10px;
        padding: 10px;
    }

    .r-top-part>p {
        font-size: 20px;
        padding: 0px;
        margin: 10px;
        font-family: "Montserrat", sans-serif;

    }

    .r-bottom-part {
        display: flex;
        background-color: gainsboro;
        height: 30px;
        text-align: center;
        border-radius: 5px;
    }

    .r-bottom-part>p {
        font-size: 19px;
    }

    .gameover {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 17px;
    }

    .minus,
    .plus {
        background-color: #FFA900;
        margin: 10px;
        border-radius: 6px;
    }

    .minus>i,
    .plus>i {
        font-size: 26px;
        padding: 5px;
        color: white;

    }

    .value {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #F2EEEE;
        width: 120px;
        height: 40px;
        justify-content: space-evenly;
        border-radius: 10px;

    }

    .value>img {
        width: 26%;
        height: 80%;
        object-fit: contain;
    }

    .value>p {
        font-size: 20px;

    }

    .record {
        background-color: white;
        margin: 16px;
        border-radius: 10px;
    }

    .record>h2 {
        text-align: center;
        padding-top: 10px;
        font-family: "Montserrat", sans-serif;
        color: #CB3B4C;
        letter-spacing: 1px;
    }

    .record-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 18px;
    }

    .record-top>p {
        margin-top: 0px;
        padding-top: 0px;
    }

    .recordBottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .e-1,
    .e-2,
    .e-3,
    .e-4,
    .e-5,
    .e-6,
    .e-7,
    .e-8,
    .e-9,
    .e-10,
    .e-11,
    .e-12,
    .e-13,
    .e-14,
    .e-15,
    .e-16,
    .e-17,
    .e-18,
    .e-19,
    .e-20,
    .e-21,
    .e-22,
    .e-23,
    .e-24,
    .e-25,
    .e-26,
    .e-27 {

        width: 24px;
        height: 24px;
        background-color: red;
        margin: 5px;
        border-radius: 100px;
        text-align: center;
    }


    .ellipse-1>p,
    .ellipse-2>p,
    .ellipse-3>p,
    .ellipse-4>p,
    .ellipse-5>p,
    .ellipse-6>p,
    .ellipse-7>p,
    .ellipse-8>p,
    .ellipse-9>p,
    .ellipse-10>p,
    .ellipse-11>p,
    .ellipse-12>p,
    .ellipse-13>p,
    .ellipse-14>p,
    .ellipse-15>p,
    .ellipse-16>p,
    .ellipse-17>p,
    .ellipse-18>p,
    .ellipse-19>p,
    .ellipse-20>p,
    .ellipse-21>p,
    .ellipse-22>p,
    .ellipse-23>p,
    .ellipse-24>p,
    .ellipse-25>p,
    .ellipse-26>p,
    .ellipse-27>p {
        padding: 0px;
        margin: 0px;
        text-align: center;

    }

}