body {
    box-sizing: border-box;
    background-color: #F2EEEE;
}

.container-div {
    display: flex;
    flex-direction: column;
    margin-left: 37%;
    margin-right: 37%;
}

.container-top-div {
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    margin: 10px;
    border-radius: 10px;
}

.balance-div {
    padding-left: 20px;
    padding-top: 15px;
}

.balance {
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    color: rgb(71, 69, 69);
}

.task-reward>a,
.check>a {
    text-decoration: none;
    color: rgb(200, 71, 97);
}

.rupaye {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(200, 71, 97);
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

.id {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    color: rgb(71, 69, 69);

}

.buttons-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 10px;
}

.recharge-btn {
    background-color: #CB3B4C;
    padding: 15px;
    border: none;
    border-radius: 30px;
    width: 130px;
    font-size: 15px;
    color: white;
    margin: 5px;
}

.withdraw {
    background-color: whitesmoke;
    width: 130px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    margin: 5px;
}

.container-reward-div {
    justify-content: space-evenly;
    display: flex;
}

.container-reward-div>button {
    padding: 14px;
    border: 1px solid #CB3B4C;
    font-size: 20px;
    color: #CB3B4C;
    border-radius: 70px;
    margin: 10px;
    width: 200px;
    background-color: transparent;
    text-align: left;
    padding-left: 25px;
}

.container-reward-div>button>span {
    padding-left: 5px;
}

.lucky-image-div {
    background-image: url(./images/Rectangle\ 56.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.lucky-image-div>img {
    width: 80%;
    padding-left: 2px;
    padding-right: 10px;
}

.play-btn {
    align-items: center;
    width: 150px;
    padding: 5px;
    border: none;
    border-radius: 200px;
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.images>img {
    width: 173px;
    margin: 10px;
    border-radius: 20px;
}

.bottom-image {
    display: flex;
    justify-content: center;
}

.bottom-image>img {
    width: 93%;
    border-radius: 20px;
}

.footer {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
}

.footer>i {
    color: grey;
    cursor: pointer;
    font-size: 22px;
}

.footer>a {
    color: gray;
    font-size: 22px;
}

.footer>a>i:hover {
    color: #CB3B4C;
}


/* For wallet div */
.wallet-div {
    margin-left: 39%;
    margin-right: 39%;
}

.wallet-top-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;
}

.wallet-top-part>a {
    font-size: 17px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wallet-top-part>p {
    color: #CB3B4C;
}

.wallet-top-part>a {
    text-decoration: none;
}

.amount-part {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.amount-part>h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.amount-part>input {
    width: 85%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: whitesmoke;
}

.balance-part {
    padding-left: 30px;
}

.input-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
}

.input-buttons>button {
    padding: 10px;
    width: 80px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    background-color: whitesmoke;
}

.footer-wallet {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
    width: 90%;
    margin-left: 20px;
    margin-top: 90%;
}

.footer-wallet>a>i {
    font-size: 24px;
    color: #4E4E4E;
}

.footer-wallet>a>i:hover {
    color: #CB3B4C;
}



/* CSS FOR BALANCE */
.balance-main-container {
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 40px;
}

.balance-top-part {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
}

.balance-top-part>button {
    height: 50px;
    width: 120px;
    border: none;
    background-color: #CB3B4C;
    border-radius: 40px;
    font-size: 15px;
    color: white;
}

.balance-text {
    font-family: "Montserrat", sans-serif;
    color: rgb(46, 45, 45);
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;

}

.rupaye {
    font-size: 45px;
    color: #CB3B4C;
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin: 0px;
}

.balance-buttons {
    justify-content: space-between;
    display: flex;
    margin: 20px;
}

.balance-buttons>button {
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    border: 2px solid #CB3B4C;
    background-color: transparent;
    letter-spacing: 1px;
    color: #CB3B4C;
}

.invitations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.form-1,
.form-2 {
    background-color: white;
    width: 47%;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    padding: 0px;
}

.form-1>p,
.form-2>p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #CB3B4C;
    padding: 10px;
    margin: 3px;
}

.form-1>h2,
.form-2>h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: #CB3B4C;
    padding: 0px;
    margin: 0px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    padding-right: 10px;
}

.details>h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.records {
    text-align: center;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #4E4E4E;
    padding-top: 30px;
}

.balance-footer {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
    width: 70%;
    margin-left: 40px;
    margin-top: 30%;
}

.balance-footer>a>i {
    font-size: 24px;
    color: #4E4E4E;
}

.balance-footer>a>i:hover {
    color: #CB3B4C;
}

/* FOr profile-part */
.profile-top-contaner {
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 20px;
}

.profile-top-part {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
}

.person-details {
    padding-left: 4px;
    padding-top: 30px;
}

.name {
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}

.profile-image {
    padding: 20px;
}

.phn,
.userID {
    padding: 4px;
    margin: 0px;
}

.profile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.profile-buttons>button {
    padding: 10px;
    border-radius: 30px;
    border: none;
    border: 2px solid #CB3B4C;
    width: 180px;
    font-size: 16px;
    color: #CB3B4C;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
}

.order-1,
.order-2,
.order-3,
.order-4,
.order-5,
.order-6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding-left: 10px;
    color: rgb(35, 30, 30);
    padding: 7px;
    padding-left: 30px;
}

.order-1>p>i,
.order-2>p>i,
.order-3>p>i,
.order-4>p>i,
.order-5>p>i,
.order-6>p>i {
    font-size: 18px;
}

.order-1>p>span,
.order-2>p>span,
.order-3>p>span,
.order-4>p>span,
.order-5>p>span,
.order-6>p>span {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    padding-left: 6px;
}

.order-1>i,
.order-2>i,
.order-3>i,
.order-4>i,
.order-5>i,
.order-6>i {
    padding-right: 20px;
}

.signOut {
    background-color: #4E4E4E;
    border: none;
    border-radius: 30px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    font-size: 14px;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    width: 130px;
    color: white;
}



/* FOR TASK REWARD */
.task-reward-main-container {
    margin-left: 39%;
    margin-right: 39%;
    padding-bottom: 20px;
}

.reward-top-part {
    display: flex;
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
}

.reward-top-part>a {
    text-decoration: none;
    color: black;
}

.reward-top-part>a>i {
    font-size: 21px;
}

.reward-top-part>a>span {
    font-size: 21px;
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
}

.reward-1,
.reward-2 {
    background-color: white;
    margin: 15px;
    border-radius: 10px;
}

.reward-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 15px;
}

.reward-top>h5 {
    padding: 0px;
    margin: 0px;
}

.reward-1>p,
.reward-2>p {
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.claim {
    padding: 10px;
    border: none;
    width: 100px;
    margin: 10px;
    border-radius: 20px;
    background-color: #CB3B4C;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-left: 35%;
}


.task-footer {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
    width: 80%;
    margin-left: 15px;
    margin-top: 20%;
}

.task-footer>a>i {
    font-size: 24px;
    color: #4E4E4E;
}

.task-footer>a>i:hover {
    color: #CB3B4C;
}


/* CSS FOR CHECK-IN */
.check-in-main-div {
    margin-left: 37%;
    margin-right: 37%;
}

.check-in-top-part {
    padding: 10px;
}

.check-in-div {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
}

.day-1,
.day-2,
.day-3,
.day-4,
.day-5,
.day-6,
.day-7,
.day-8 {
    margin: 7px;
    text-align: center;
    padding: 3px;
    width: 68px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.day-1>i,
.day-2>i,
.day-3>i,
.day-4>i,
.day-5>i,
.day-6>i,
.day-7>i {
    font-size: 18px;

}

.day-1>i {
    color: #E0E0E0;
}

.day-2>i,
.day-3>i,
.day-4>i,
.day-5>i,
.day-6>i,
.day-7>i {
    color: #FFA900;
}

.day {
    padding: 5px;
    margin: 0px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.point {
    padding: 0px;
    margin: 0px;
}

.day-8 {
    width: 70px;
    height: 70px;

}

.day-8>img {
    width: 70%;

}

/* LUCKY 7  */
.lucky-7-main-container{
    margin-left: 37%;
    margin-right: 37%;
}